<!-- <h1>
  Welcome to {{ title }}!！！
</h1>
<h2>
  {{ name }}
</h2>
<app-home [person]="person" (onYell)="yell()">HelloYell</app-home> -->
<!-- <app-home [person]="person"></app-home> -->
<!-- <app-home></app-home>
<app-directory></app-directory>
<app-navbar></app-navbar> -->
<!-- <nav> -->
  <!-- <li><a href="/">Home</a></li>
  <li><a href="/directory">Directory</a></li> -->
  <li><a [routerLink]="['/']">Home</a></li>
  <li><a [routerLink]="['directory']">Directory</a></li>
<!-- </nav> -->

<!-- 调用导航组件指令 -->
<!-- <app-navbar></app-navbar> -->
<!-- 路由 -->
<section class="container">
  <router-outlet></router-outlet>
</section>

